<h1>WHAT TO EAT IN PORTLAND</h1>


<% @articles.each do |article| %>


<h2><%= link_to article.article_title, eat_path(article.id) %></h2>
<p><%= link_to article.user.display_name, user_info_path(article.user.id) %></p>

<% end %>

