   <div id="content">

    <div id="inner-content">

      <div id="main" role="main">

        <div class="category-title">
          <h2>ABOUT</h2>
          <p>Noren Portland</p>
        </div>

        <div class="single-culumn">
          <p>Noren Portland は、好きじゃないと気付けない、ポートランドの魅力を発信するWebマガジンです。<br />
          アメリカ西海岸、シアトルより南へ180マイル下った小さな街、ポートランド。<br />
          独自のコーヒー文化や都市計画、オーガニックへのこだわりなど、ここポートランドの雰囲気はどこか他の都市のそれと異なっている。<br />
          クリエイティビティを大切にするポートランドの人々の価値観は、ここで暮らせば肌で感じることができる。<br />
          私たちは、そんなポートランドの情報を発信するメディアです。<br />
          この街に住み続けることはないかもしれない。<br />
          でも私たちは、偶然ポートランドという街に出会って、それでこの街が好きになってしまった。<br />
          ポートランドで暮らす日本人による、新鮮な発見をお届けします。<br />
          のれんをくぐって、ポートランドをのぞいてみよう。<br />
          </p>
          <img src="/assets/article/141122_toshi001_mimi/toshi001-1-top.jpg" />
          <p>2014年、ポートランドにて</p>

        </div>

  </div>
</div>
</div>
</div>