/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bxslider
 */

 @charset "UTF-8";
/*********************
IMPORTING PARTIALS
*********************/
/* ==========================================================================
   HTML5 display definitions test
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none;
}

small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix, .cf, .comment-respond {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .comment-respond:before, .cf:after, .comment-respond:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after, .comment-respond:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/*********************
COLORS
*********************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}


/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/*********************
GENERAL STYLES
*********************/
body {
  font-family: "Lato", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

#container {
  margin-bottom: 160px;
}

.social-button {
  margin: 4px 0 0 4px;
  display: inline-block;
  vertical-align: text-top;
}

.pocket-btn {
  display: inline;
}

#twitter-button {
}

#pocket-button {
}

/********************
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
#main {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #222222;
  text-decoration: none;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #e65226;
}
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */
  /* removing text decoration from all headline links */
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3, .h3 {
  font-size: 1.125em;
}

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/
.header {
  background-color: white;
  margin: 0;
  position: relative;
  margin-bottom: 12px;
}
.header #mini-nav {
  font-size: 12px;
  display: inline-block;
}
.header #mini-nav li {
  float: left;
}

#logo {
  margin: 0 0 2px 0;
  text-align: center;
  border-bottom: 1px solid #d2d2d2;
}
#logo img {
  width: 160px;
  color: white;
}

#copy {
  color: #898687;
  clear: both;
  margin: 8px 0 2px;
}

/*********************
NAVIGATION STYLES
*********************/
#inner-header {
  height: 36px;
  width: 100%;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
}

#menu-header-menu {
  margin-top: 3px;
}

.nav {
  border: 0;
  margin: 0;
  text-align: center;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
.nav ul {
  margin-top: 0;
  height: 100%;
  text-align: center;
}
.nav li {
  font-size: 10px;
  padding-bottom: padding-bottom;
  display: inline-block;
  outline: none;
  /*
  so you really have to rethink your dropdowns for mobile.
  you don't want to have it expand too much because the
  screen is so small. How you manage your menu should
  depend on the project. Here's some great info on it:
  http://www.alistapart.com/articles/organizing-mobile/
  */
}
.nav li a {
  padding: 2.000em 2.000em 2.063em;
  border-bottom: 0;
  letter-spacing: 0.200em;
  display: block;
  color: #222222;
  text-decoration: none;
  padding: 0.75em;
  /*
  remember this is for mobile ONLY, so there's no need
  to even declare hover styles here, you can do it in
  the style.scss file where it's relevant. We want to
  keep this file as small as possible!
  */
}
.nav li a:hover, .nav li a:focus {
  color: #e65226;
  text-decoration: underline;
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
.nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
.nav li ul.children li a:hover,
.nav li ul.children li a:focus {
  color: #e65226;
}

/* end .nav */
/*********************
TOP IMAGE
*********************/
#top-image {
  width: 100%;
  overflow: hidden;
}
#top-image img {
  width: 100%;
}

.category-title {
  margin-bottom: 24px;
}
.category-title h2 {
  font-size: 1.75em;
  text-align: center;
  color: #907971;
}
.category-title p {
  font-size: 0.8em;
  text-align: center;
  color: #898687;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.article-sub-title {
  font-size: 12px;
  font-family: 'Neuton', sans-serif;
  margin: 30px 0 0 0;
  color: #907971;
  text-align: center;
}

.hentry {
  width: 100%;
  height: auto;
  background: white;
  display: inline-block;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
  border-bottom: solid 1px #eaedf2;
}
.hentry .article-header {
  padding: 0;
}

.one-title .entry-thumbnail {
  width: 100%;
  /* 記事一覧のアイキャッチ画像の幅スマホ */
  float: left;
  margin: 0 0 16px 0;
}
.one-title .entry-thumbnail img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 0.2s linear;
}
.one-title .entry-thumbnail img:hover {
  opacity: 0.6;
}
.one-title .entry-title {
  font-size: 13px;
  font-weight: bold;
  clear: both;
}
.one-title .entry-title a:hover {
  color: #e65226;
}

.entry-content {
  margin-top: 12px;
}
.entry-content p {
  font-size: 13px;
}
.entry-content .entry-meta {
  height: 32px;
  font-size: 13px;
}
.entry-content .entry-meta p {
  height: auto;
  padding: 8px;
  float: left;
}
.entry-content .entry-meta .byline {
  margin-right: 2px;
  font-size: 12px;
  float: right;
  color: #898687;
}
.entry-content .entry-member img {
  height: 32px;
  width: 32px;
  margin-right: 4px;
  float: left;
}
.entry-content .entry-member p {
  margin: 0;
}
.entry-content .entry-category p {
  font-size: 11px;
  color: #898687;
  padding: 8px 12px;
  border: 1px solid #eaedf2;
  float: right;
}
.entry-content .entry-category p:hover {
  color: white;
  background: #898687;
  border: 1px solid #898687;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*********************
SINGLE PAGE
*********************/
.single-article-header {
  border-bottom: 1px solid #d2d2d2;
  margin: 68px 0 24px;
}
.single-article-header .single-one-title {
  clear: both;
}
.single-article-header .single-one-title h1 {
  font-size: 18px;
  color: #222222;
  font-family: 'Neuton', sans-serif;
  padding-left: 8px;
}
.single-article-header .entry-meta {
  height: 32px;
  font-size: 12px;
  color: #898687;
}
.single-article-header .entry-meta p {
  height: auto;
  padding: 8px;
  float: left;
}
.single-article-header .entry-meta .byline {
  float: left;
  color: #898687;
}
.single-article-header .entry-member p {
  margin: 0;
  color: #907971;
  font-weight: 600;
}
.single-article-header .entry-category p {
  color: #898687;
  margin: 0;
  float: left;
}

#single-main {
  float: left;
  width: 100%;
}
#single-main .single-article .article-content p {
  line-height: 1.9;
  font-size: 14px;
}
#single-main .single-article .article-content img {
  width: 100%;
  margin: 30px 0;
}
#single-main .single-article .article-content a {
  color: #898687;
  text-decoration: underline;
}
#single-main .single-article .article-content a:hover {
  color: #e65226;
}

.page-title,
.entry-title {
  margin: 0;
  font-size: 18px;
}

.entry-title {
  margin-top: 4px;
}
.entry-title a {
  color: #222;
  font-weight: bold;
}

/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #9fa6b4;
  margin: 0;
}

/* entry content */
.entry-content {
  padding: 0;
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */
}
.entry-content p {
  margin: 0 0 24px;
}
.entry-content table {
  width: 100%;
  border: 1px solid #eaedf2;
  margin-bottom: 1.5em;
}
.entry-content table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: #9fa6b4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.entry-content tr {
  border-bottom: 1px solid #eaedf2;
}
.entry-content tr:nth-child(even) {
  background-color: #f8f9fa;
}
.entry-content td {
  padding: 7px;
  border-right: 1px solid #eaedf2;
}
.entry-content td:last-child {
  border-right: 0;
}
.entry-content th {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaedf2;
  border-right: 1px solid #eaedf2;
}
.entry-content th:last-child {
  border-right: 0;
}
.entry-content blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #2980b9;
  font-style: italic;
  color: #9fa6b4;
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
.entry-content .size-auto,
.entry-content .size-full,
.entry-content .size-large,
.entry-content .size-medium,
.entry-content .size-thumbnail {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #222222;
  color: #f8f9fa;
  font-size: 0.9em;
  padding: 1.5em;
  margin: 0 0 1.5em;
  border-radius: 3px;
}

/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
.tags {
  margin: 0;
}

/*********************
MEMBER
*********************/
.member-main {
  width: 100%;
  margin: 60px 0 60px 0;
  display: inline-block;
  border: 1px solid #d2d2d2;
}
.member-main .member-img img {
  height: 80px;
  width: 80px;
  float: left;
  margin: 14px 20px 30px 14px;
}
.member-main .member-content {
  height: 100%;
  padding: 14px 0 0 0;
  width: auto;
}
.member-main .member-content h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.member-main .member-content p {
  width: 100%;
  font-size: 12px;
  margin: 0;
}

#member-introduction {
  width: 100%;
  text-align: center;
}
#member-introduction .member-show-main {
  height: 228px;
  width: 100%;
  margin: 0 auto;
  display: block;
  clear: both;
}
#member-introduction .member-show-main .member-img img {
  height: 200px;
  width: 200px;
  margin: 14px 30px 14px 30px;
}
#member-introduction .member-show-main .member-content {
  height: 100%;
  padding: 14px 0 0 0;
  width: auto;
}
#member-introduction .member-show-main .member-content h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
}
#member-introduction .member-show-main .member-content p {
  font-size: 12px;
  margin: 0;
  text-align: left;
  float: left;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
  margin: 1.5em 0;
}

.pagination {
  text-align: center;
}
.pagination ul {
  display: inline-block;
  background-color: white;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}
.pagination li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid #eaedf2;
}
.pagination a, .pagination span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: #2980b9;
}
.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
  background-color: #2980b9;
  color: white;
}
.pagination .current {
  cursor: default;
  color: #222222;
}
.pagination .current:hover, .pagination .current:focus {
  background-color: white;
  color: #222222;
}

/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments-title {
  padding: 0.75em;
  margin: 0;
  border-top: 1px solid #f8f9fa;
  /* number of comments span */
}

.commentlist {
  margin: 0;
  list-style-type: none;
}

.comment {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 1.5em;
  border-bottom: 1px solid #f8f9fa;
  /* vcard */
  /* end .commentlist .vcard */
  /* end children */
  /* general comment classes */
}
.comment .comment-author {
  padding: 7px;
  border: 0;
}
.comment .vcard {
  margin-left: 50px;
}
.comment .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.comment .vcard time {
  display: block;
  font-size: 0.9em;
  font-style: italic;
}
.comment .vcard time a {
  color: #9fa6b4;
  text-decoration: none;
}
.comment .vcard time a:hover {
  text-decoration: none;
}
.comment .vcard .avatar {
  position: absolute;
  left: 16px;
  border-radius: 50%;
}
.comment:last-child {
  margin-bottom: 0;
}
.comment .children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
.comment[class*=depth-] {
  margin-top: 1.1em;
}
.comment.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.comment:not(.depth-1) {
  margin-top: 0;
  margin-left: 7px;
  padding: 7px;
}
.comment.odd {
  background-color: white;
}
.comment.even {
  background: #f8f9fa;
}

/* comment meta */
/* comment content */
.comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* end .commentlist .comment_content */
/* comment reply link */
.comment-reply-link {
  font-size: 0.9em;
  float: right;
}

/* end .commentlist .comment-reply-link */
/* edit comment link */
.comment-edit-link {
  font-style: italic;
  margin: 0 7px;
  text-decoration: none;
  font-size: 0.9em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.comment-respond {
  padding: 1.5em;
  border-top: 1px solid #f8f9fa;
}

#reply-title {
  margin: 0;
}

.logged-in-as {
  color: #9fa6b4;
  font-style: italic;
  margin: 0;
}
.logged-in-as a {
  color: #222222;
}

.comment-form-comment {
  margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
  padding: 1.5em;
  background-color: #f8f9fa;
  font-size: 0.9em;
}

/* comment submit button */
#submit {
  float: right;
  font-size: 1em;
}

/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  width: 100%;
  float: left;
}
.sidebar #sidebar-popular h2 {
  font-size: 20px;
  font-family: 'Neuton', sans-serif;
  color: #907971;
  margin: 20px 0 20px 0;
  text-align: center;
}
.sidebar #sidebar-popular #sidebar-article {
  width: 100%;
  margin: 0 0 12px 0;
  clear: both;
  display: inline-block;
}
.sidebar #sidebar-popular #sidebar-article #sidebar-image img {
  width: 46%;
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  float: left;
}
.sidebar #sidebar-popular #sidebar-article #sidebar-image img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
}
.sidebar #sidebar-popular #sidebar-article #sidebar-content h3 {
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 12px;
  float: left;
}

#single-main .single-article .article-content blockquote {
  margin: 60px 0;
  padding: 12px 20px;
  background-color: #F7F7F7;
}

#single-main .single-article .article-content blockquote h4 {
    margin-top: 4px;
    margin-bottom: 12px;
}

#single-main .single-article .article-content blockquote p {
    margin: 8px 0;
}

#single-main .single-article .article-content blockquote img {
    width: 24px;
  }

#single-main .single-article .article-content blockquote img#place-img {
    margin: 0 0 -5px 0;
  }

#single-main .single-article .article-content blockquote img#time-img {
    margin: 0 0 -6px 0;
  }

#single-main .single-article .article-content blockquote img#web-img {
    margin: 0 0 -7px 0;
  }

/*********************
FOOTER STYLES
*********************/
.footer {
  height: 180px;
  clear: both;
  color: #898687;
  text-align: center;
}

.footer img {
  height: 40px;
  width: 40px;
  margin: 4px;
}

.footer p {
  margin: 0;
  font-size: 12px;
}

.footer ul {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 60px;
}

.footer ul li {
  display: inline-block;
  text-align: center;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* end .footer-links */
/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/


@media only screen and (max-width: 481px) {
  #container {
    width: 95%;
    margin: auto;
  }
  .header {
    text-align: center;
  }
  #copy {
    font-size: 10px;
    margin: 8px 0 4px;
  }
  #top-image {
    display: none;
  }
  .header #mini-nav ul {
    display: none;
  }

  .social-button {
    display: none;
  }
}



@media only screen and (min-width: 481px) {
  /*
  IMPORTANT NOTE ABOUT SASS 3.3 & UP
  You can't use @extend within media queries
  anymore, so just be aware that if you drop
  them in here, they won't work.
  */
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */
  }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .menu ul li {
    /*
    plan your menus and drop-downs wisely.
    */
  }
  .menu ul li a {
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
  }

  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  #main {
    width: 760px;
    margin: 0 auto;
  }

  #inner-content {
    margin: 0 auto;
  }

  /*********************
  HEADER STYLES
  *********************/
  .header {
    width: 100%;
    margin: 0;
    background: white;
    top: 0;
    margin-bottom: 12px;
  }
  .header #mini-nav {
    font-size: 12px;
    display: inline-block;
    float: left;
  }

  .header #mini-nav ul {
    margin: 0;
  }
  .header #mini-nav li {
    float: left;
  }

  #logo {
    height: 188px;
    margin: 0 0 3px 0;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    clear: both;
  }
  #logo img {
    width: 240px;
    margin-bottom: 32px;
  }

  /*********************
  NAVIGATION STYLES
  *********************/
  #inner-header {
    height: 66px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    position: relative;
  }

  .nav {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav ul {
    margin-top: 0;
    height: 100%;
    text-align: center;
  }
  .nav li {
    font-size: 0.722em;
    padding-bottom: padding-bottom;
    display: inline-block;
    outline: none;
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */
  }
  .nav li a {
    padding: 2.000em 2.000em 2.063em;
    border-bottom: 0;
    letter-spacing: 0.200em;
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
  }
  .nav li a:hover, .nav li a:focus {
    color: #e65226;
    text-decoration: none;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    height: auto;
    width: 100%;
    left: 0;
    padding: 20px 40px;
    background: #55bdbe;
    border-bottom: solid 2px #E4E4E4;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    text-align: center;
    float: left;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
    if you need to go deeper, go nuts
    just remember deeper menus suck
    for usability. k, bai.
    */
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li ul.sub-menu li ul,
  .nav li ul.children li ul {
    top: 0;
    left: 100%;
  }
  .nav li:hover > ul {
    top: auto;
    visibility: visible;
  }

  /* end .nav */
  /*********************
  TOP IMAGE
  *********************/
  #top-image {
    width: 100%;
    overflow: hidden;
    margin: 30px 0 0 0;
  }
  #top-image img {
    width: 100%;
  }

  .category-title {
    margin: 60px 0 24px;
  }
  .category-title h2 {
    font-size: 2.0em;
    text-align: center;
    color: #907971;
  }
  .category-title p {
    font-size: 0.8em;
    text-align: center;
    color: #898687;
  }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  .article-sub-title {
    font-size: 14px;
    font-family: 'Neuton', sans-serif;
    text-align: left;
    border-bottom: 1px solid #d2d2d2;
    margin: 100px 0 30px 0;
    padding-left: 8px;
    color: #907971;
  }

  .hentry {
    width: 319px;
    height: 390px;
    background: white;
    display: inline-block;
    margin: 30px 24px;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: top;
    border-bottom: solid 1px #eaedf2;
  }
  .hentry .article-header {
    padding: 0;
  }

  .one-title .entry-thumbnail {
    width: 319px;
    /* 記事一覧のアイキャッチ画像の幅スマホ */
    height: 213px;
    float: left;
    margin: 0 0 16px 0;
  }
  .one-title .entry-thumbnail img {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .one-title .entry-title {
    height: 32px;
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: bold;
    clear: both;
  }

  .entry-content {
    margin-top: 12px;
  }
  .entry-content p {
    font-size: 13px;
  }
  .entry-content .entry-meta {
    height: 32px;
    font-size: 13px;
  }
  .entry-content .entry-meta p {
    height: auto;
    padding: 8px;
    float: left;
  }
  .entry-content .entry-meta .byline {
    margin-right: 2px;
    font-size: 12px;
    float: right;
    color: #898687;
  }
  .entry-content .entry-member img {
    height: 32px;
    width: 32px;
    margin-right: 4px;
    float: left;
  }
  .entry-content .entry-member p {
    margin: 0;
  }
  .entry-content .entry-category p {
    font-size: 11px;
    color: #898687;
    padding: 8px 12px;
    border: 1px solid #eaedf2;
    float: right;
  }

  /*********************
  SINGLE PAGE
  *********************/
  .single-article-header {
    border-bottom: 1px solid #d2d2d2;
    margin: 68px 0 24px;
  }
  .single-article-header .single-one-title {
    clear: both;
  }
  .single-article-header .single-one-title h1 {
    font-size: 24px;
    color: #222222;
    font-family: 'Neuton', sans-serif;
    padding-left: 4px;
  }
  .single-article-header .entry-meta {
    height: 32px;
    font-size: 12px;
    color: #898687;
  }
  .single-article-header .entry-meta p {
    height: auto;
    padding: 8px;
    float: left;
  }
  .single-article-header .entry-meta .byline {
    float: left;
    color: #898687;
  }
  .single-article-header .entry-member p {
    margin: 0;
    color: #907971;
    font-weight: 600;
  }
  .single-article-header .entry-category p {
    color: #898687;
    margin: 0;
    float: left;
  }

  #single-main {
    float: left;
    padding: 0 12px 0 8px;
    width: 680px;
  }
  #single-main .single-article .article-content p {
    margin: 16px 0;
    line-height: 1.9;
    font-size: 14px;
  }
  #single-main .single-article .article-content img {
    width: 100%;
    margin: 30px 0;
  }

  /*********************
  MEMBER
  *********************/
  .member-main {
    width: 100%;
    margin: 60px 0 60px 0;
    display: inline-block;
    border: 1px solid #d2d2d2;
  }
  .member-main .member-img img {
    height: 128px;
    width: 128px;
    float: left;
    margin: 14px 20px 14px 14px;
  }
  .member-main .member-content {
    height: 100%;
    padding: 14px 0 0 0;
    width: auto;
  }
  .member-main .member-content h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .member-main .member-content p {
    width: 100%;
    font-size: 12px;
    margin: 0;
  }

  #member-introduction {
    width: 100%;
    text-align: left;
  }
  #member-introduction .member-show-main {
    height: 228px;
    width: 880px;
    margin: 60px auto;
    display: block;
    clear: both;
  }
  #member-introduction .member-show-main .member-img img {
    height: 200px;
    width: 200px;
    float: left;
    margin: 14px 30px 14px 30px;
  }
  #member-introduction .member-show-main .member-content {
    height: 100%;
    padding: 14px 0 0 0;
    width: auto;
  }
  #member-introduction .member-show-main .member-content h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  #member-introduction .member-show-main .member-content p {
    font-size: 14px;
    margin: 0;
  }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar #sidebar-popular h2 {
    margin: 20px 0;
    text-align: left;
  }
  .sidebar #sidebar-popular #sidebar-article {
    width: 100%;
    margin: 0 0 12px 0;
    clear: both;
    display: inline-block;
  }
  .sidebar #sidebar-popular #sidebar-article #sidebar-image img {
    width: 46%;
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    float: left;
  }
  .sidebar #sidebar-popular #sidebar-article #sidebar-image img:hover {
    -webkit-filter: grayscale(0%);
    filter: none;
  }
  .sidebar #sidebar-popular #sidebar-article #sidebar-content h3 {
    font-size: 1em;
    width: 50%;
    font-weight: bold;
    margin: 0 0 0 12px;
    float: left;
  }

  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  .footer-links ul li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */
  }

  /* end .footer-links */
}

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop.
  
  ******************************************************************/
  #main {
    width: 1070px;
  }

  #explanation {
    width: 1070px;
    height: 140px;
    margin: 0 auto;
  }

  h2.description {
    font-size: 22px;
    margin-top: 24px;
  }

  .hentry {
    margin: 30px 17px;
  }

  #single-main .single-article .article-content blockquote {
    margin: 60px 0;
    padding: 16px 40px;
    background-color: #F7F7F7;
  }

  #single-main .single-article .article-content blockquote h4 {
    margin-top: 8px;
    margin-bottom: 12px;
  }

  #single-main .single-article .article-content blockquote p {
    margin: 8px 0;
  }

  #single-main .single-article .article-content blockquote img {
    width: 24px;
  }

  #single-main .single-article .article-content blockquote img#place-img {
    margin: 0 0 -5px 0;
  }

  #single-main .single-article .article-content blockquote img#time-img {
    margin: 0 0 -6px 0;
  }

  #single-main .single-article .article-content blockquote img#web-img {
    margin: 0 0 -7px 0;
  }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    width: 300px;
    float: left;
    margin: 0 0 0 90px;
  }
  .sidebar #sidebar-popular h2 {
    font-size: 20px;
    font-family: 'Neuton', sans-serif;
    color: #907971;
    margin: 20px 0;
    text-align: left;
  }
  .sidebar #sidebar-popular #sidebar-article {
    width: 100%;
    margin: 0 0 12px 0;
    clear: both;
    display: inline-block;
  }
  .sidebar #sidebar-popular #sidebar-article #sidebar-image img {
    width: 128px;
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    float: left;
  }
  .sidebar #sidebar-popular #sidebar-article #sidebar-image img:hover {
    -webkit-filter: grayscale(0%);
    filter: none;
  }
  .sidebar #sidebar-popular #sidebar-article #sidebar-content h3 {
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 12px;
    float: left;
  }

/*********************
  ABOUT PAGE
*********************/
.single-culumn {
  width: 740px;
  margin: 60px auto;
}
.single-culumn p {
  line-height: 1.9;
}


}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Super Large Monitor Stylesheet

  You can add some advanced styles here if you like. This kicks in
  on larger screens.

  ******************************************************************/
}
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
    width: 24px;
    height: 24px;
    background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
    background: url(img/test@2x.png) no-repeat;
    background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
  /******************************************************************
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}

