<footer class="footer" role="contentinfo">

  <div>

  	<nav role="navigation">
  	  <ul>
  	  	<li></li>
  	  	<li></li>
  	  </ul>
  	</nav>

  	<p class="source-org copyright">&copy; <%# 日付が更新されるようにする %> Noren Portland</p>

  </div>

</footer>