</div>
</div>
<footer class="footer" role="contentinfo">

  <div>

    <ul class="footer-social-icon">
      <li><a href="http://instagram.com/norenportland" target="_blank"><img src="/assets/instagram-48.png" alt="Instagram"></a></li>
      <li><a href="https://www.facebook.com/norenportland" target="_blank"><img src="/assets/facebook-3-48.png" alt="Facebook"></a></li>
      <li><a href="https://twitter.com/norenportland" target="_blank"><img src="/assets/twitter-48.png" alt="Twitter"></a></li>
    </ul>

    <ul class="footer-nav">
      <li><%= link_to 'About', '/about' %></li>
      <li>｜</li>
      <li><%= link_to 'Member', '/member' %></li>
    </ul>

    <p class="source-org copyright">&copy;  Noren Portland
    </p>

  </div>

</footer>