</div>
</div>
<footer class="footer" role="contentinfo">

  <div>

    <ul>
      <li><img src="/assets/instagram-64.png" alt="Instagram"></li>
      <li><img src="/assets/facebook-3-64.png" alt="Facebook"></li>
    </ul>

    <p class="source-org copyright">&copy;  Noren Portland
    </p>

  </div>

</footer>