<footer class="footer" role="contentinfo">

  <div>

    <nav role="navigation">
      <% if false %>
      <ul>
        <li><%= link_to 'ABOUT', '/about' %></li>
        <li><%= link_to 'MEMBER', '/member' %></li>
      </ul>
      <% end %>
    </nav>

    <p class="source-org copyright">&copy;  Noren Portland
    </p>

  </div>

</footer>
</div>
</div>