
  <header class="header" role="banner">

  	<div id="inner-header">

  	  <div id="mini-nav" >
  	  	<ul>
  	  	  <li>About</li>
  	  	  <li>Member</li>
  	  	</ul>
  	  </div>

  	  <div id="logo">
  	  	<img src="noren_logo.png" alt="Noren Logo">
  	  </div>

  	  <div id="search-bar">
        <%# サーチバーの呼び出し方調べてほしい。。。 %>
  	  </div>



  	  <nav role="navigation">
  	  	<ul>
  	  	  <li><a href="<%# カテゴリーリンク %>">FOOD</a></li>
  	  	  <li><a href="<%# カテゴリーリンク %>">ENJOY</a></li>
  	  	  <li><a href="<%# カテゴリーリンク %>">SHOP<a></li>
  	  	  <li>OTHER</li>
            <ul>
              <li><a href="<%# カテゴリーリンク %>">STAY</a></li>
              <li><a href="<%# カテゴリーリンク %>">STUDY</a></li>
              <li><a href="<%# カテゴリーリンク %>">MEET</a></li>
            </ul>
          <li><a href="<%# カテゴリーリンク %>">COLUMN</a></li>
  	  	</ul>
  	  </nav>

  	</div>
  </header>